html, body {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 1em;
}

body {
  font-size: 100%;
}

a img, :link img, :visited img {
  border: 0;
}

$color: rgba(58, 61, 63, 0.73);

.main__window {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 100px;
  bottom: 0;
  margin: auto;
  max-width: 1000px;
  width: 90vw;
  max-height: 50vh;

  .status {
    text-align: center;
    color: $color;
  }

  .game {
    margin-right: 50px;

    .menu {
      display: flex;
      justify-content: space-between;


      #select__level {
        background: #7B8585;
        border: none;
        padding: 20px 40px;
        color: $color;
        cursor: pointer;

      option{
        margin: 20px 40px;
      }
      }



      #name {
        background: #D7E1E1;
        border: none;
        padding: 20px 40px;
        color: $color;
      }

      #start {
        background: #324241;
        border: none;
        padding: 20px 40px;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }


    #field {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      max-width: 400px;


      #field:after {
        content: '';
        display: block;
        padding-top: 100%;

      }

      .square {
        width: 19%;
        height: 70px;
        display: block;
        border: 1px solid grey;
        cursor: crosshair;
      }

      .square:after {
        content: '';
        display: block;
        //padding-top: 100%;
      }


      .white {
        background: white;
      }

      .blue {
        background: blue;
      }

      .green {
        background: green;
      }

      .red {
        background: red;
      }

    }
  }

  .results {
    padding-left: 50px;
    border-left: 2px solid gray;
    width: 40%;

    #board__header {
      margin-top: 75px;
    }

    .one_result {
      background: #D7E1E1;
      padding: 20px ;
      border-bottom: 2px solid white;
      display: flex;
      justify-content: space-between;
    }
  }

}
